html {
  font-family: "Open Sans", sans-serif;
}

.btn {
  background-color: #000;
  border-radius: .75rem;
  color: #fff;
  border-style: none;
  padding: .5rem;
}

input,
textarea {
  border: 2px solid #f2f2f2;
  padding: .5rem;

}

h1 {
  border-bottom: solid 2px #000;
}

@media only screen and (min-width: 60em) {

  html {
    background-color: #fff;
  }

}
